@font-face {
  font-family: 'westcoastletters';
  src: url('fonts/westcoastletters-regular-webfont.eot');
  src: url('fonts/westcoastletters-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/westcoastletters-regular-webfont.woff2') format('woff2'),
       url('fonts/westcoastletters-regular-webfont.woff') format('woff'),
       url('fonts/westcoastletters-regular-webfont.ttf')  format('truetype'),
       url('fonts/westcoastletters-regular-webfont.svg#westcoastletters') format('svg');
}